* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(237, 58, 84);
}

.mainNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgb(220, 46, 66);
}

.mainNavbar img {
  width: 40px;  
}

.mainContainer {
  padding: 10px;  
}

.mainContainer h3 {
  text-align: center;
  margin: 10px 0;
}

.detailMeals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-items: center;
  text-align: center;
  grid-row-gap: 20px;
}

.mealsContainer img {
width: 150px;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.searchBar input {
  padding: 5px;
  background-color: rgb(245, 240, 240);  
}