* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.mainNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.mainNavbar img {
  width: 40px;
}