@import url('https://fonts.googleapis.com/css?family=Gill+Sans');
@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(237, 58, 84);
  font-family: 'Lato', sans-serif;
}

.mainNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgb(220, 46, 66);
  font-family: 'Lato', sans-serif;
}

.mainNavbar img {
  width: 40px;
}

.mainContainer {
  padding: 10px;
}

.mainContainer h3 {
  text-align: center;
  margin: 10px 0;
}

.detailMeals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-items: center;
  text-align: center;
  grid-row-gap: 20px;
}

.mealsContainer img {
  width: 150px;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.searchBar input {
  padding: 5px;
  background-color: rgb(245, 240, 240);
}

.backArrow svg {
  width: 25px;
  height: 25px;
}

.mealDetails {
  padding-left: 15px;
}

.mealDetails p {
  color: rgb(3, 3, 3);
  font-size: 1.3rem;
}
